$background-color: #191919;
$header-color: #585757; //#1d212a;
$container-color: #383737; //#14161d;
$border-color: #6c6c6c; //#999;
$title-color: #e6e6e6;
$highlight-color: #A2A2A2;
$green: #00ff00;
$red: #FF0000;
$blue: #00a8ff;
$hover-color: rgba(255, 255, 255, 0.2);