$background-color: #191919;
$bar-color: #585757; //#1d212a;
$container-color: #383737; //#14161d;
$border-color: #6c6c6c; //#999;
$title-color: #e6e6e6;
$highlight-color: #A2A2A2;
$ok-color: #00ff00;
$hover-color: rgba(255, 255, 255, 0.2);