<div class="title-bar">Envelopes</div>

<div class="title-bar">
  <i class="fa fa-envelope envelope-button" aria-hidden="true"></i>
  <i class="fa fa-times" aria-hidden="true"></i>
  
  <i class="fa fa-envelope envelope-button" aria-hidden="true"></i>
  <span class="circle">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </span>
</div>

<div class="envelopes-container">
  <div class="envelopes-row">
    <span class="fa fa-envelope" aria-hidden="true"></span>
    <span class="title">Groceries</span>
    <span class="amount">$350.22</span>
  </div>
</div>