@import 'utility';

.envelopes-container{
    border-top: 1px solid $border-color;
    flex: 1;
    overflow-y: auto;
    .envelopes-row{
        height: 22px;
        line-height: 22px;
        color: $title-color;
        .fa-envelope{
            margin-left: 8px;
        }
    }
    .envelopes-row:hover{
        background-color: $hover-color;
        cursor: pointer;
    }
}