<div class="budget">
  <div class="main-container">
    <div class="left-panel">
      <div class="header">Gabe's Account</div>
      <div class="panel-content">
        <account></account>
        <envelopes></envelopes>
      </div>
    </div>
    <div class="center-panel">
      <div class="header">Groceries</div>
      <div class="panel-content">
        <display-bar></display-bar>
        <table cellspacing="0">
          <thead>
            <tr>
              <th style="min-width: 80px">Date</th>
              <th style="min-width: 90px">Deposit</th>
              <th style="min-width: 100px">Withdraw</th>
              <th style="min-width: 100px">Transfer</th>
              <th style="min-width: 580px">Comment</th>
              <th style="min-width: 110px">Balance</th>
            </tr>
          </thead>
          <tr>
            <td>10/29/2016</td>
            <td>$999.99</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/30/2016</td>
            <td></td>
            <td>$999.99</td>
            <td></td>
            <td></td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>


          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>
          <tr>
            <td>10/31/2016</td>
            <td></td>
            <td></td>
            <td>$999.99</td>
            <td>Transfered to savings so I can save for a car!</td>
            <td>$645.84</td>
          </tr>




        </table>
      </div>
    </div>
    <div class="right-panel">
      <div class="header">Envelope Settings</div>
      <div class="panel-content">
      </div>
    </div>
  </div>
</div>