<div class="budget">
  <div class="main-container">
    <div class="left-panel">
      <div class="title-bar">Gabe's Account</div>
      <div class="panel-content">
        <account></account>
        <envelopes></envelopes>
      </div>
    </div>
    <div class="center-panel">
      <div class="title-bar">Groceries</div>
      <div class="panel-content">
        <display-bar></display-bar>
      </div>
    </div>
    <div class="right-panel">
      <div class="title-bar">Envelope Settings</div>
      <div class="panel-content">
      </div>
    </div>
  </div>
</div>