<div class="budget">
  <div class="main-container">
    <div class="left-panel">
      <div class="header">Gabe's Account</div>
      <div class="panel-content">
        <account></account>
        <envelopes></envelopes>
      </div>
    </div>
    <div class="center-panel">
      <div class="header">Groceries</div>
      <div class="panel-content">
        <display-bar></display-bar>
        <!-- <envelope-grid></envelope-grid> -->
        <account-grid></account-grid>
      </div>
    </div>
    <div class="right-panel">
      <div class="header">Envelope Settings</div>
      <div class="panel-content">
      </div>
    </div>
  </div>
</div>