<table cellspacing="0">
  <thead>
    <tr>
      <th style="min-width: 30px"></th>
      <th style="min-width: 80px">Date</th>
      <th style="min-width: 90px">Deposit</th>
      <th style="min-width: 100px">Withdraw</th>
      <th style="min-width: 100px">Transfer</th>
      <th style="min-width: 478px">Comment</th>
      <th style="min-width: 110px">Balance</th>
    </tr>
  </thead>
  <tr>
    <td><i class="fa fa-plus-square-o" aria-hidden="true"></i></td>
    <td>10/29/2016</td>
    <td>$999.99</td>
    <td></td>
    <td></td>
    <td></td>
    <td>$645.84</td>
  </tr>
  <tr>
    <td><i class="fa fa-minus-square-o" aria-hidden="true"></i></td>
    <td>10/30/2016</td>
    <td></td>
    <td>$999.99</td>
    <td></td>
    <td></td>
    <td>$645.84</td>
  </tr>
  <tr>
    <td colspan="7" style="padding-left: 35px">
      <table cellspacing="0">
        <thead>
          <tr>
            <th style="min-width: 80px">Envelope</th>
            <th style="min-width: 90px">Deposit</th>
            <th style="min-width: 100px">Withdraw</th>
            <th style="min-width: 100px">Transfer</th>
            <th style="min-width: 478px">Comment</th>
          </tr>
        </thead>
        
      </table>
    </td>
  </tr>
  <tr>
    <td><i class="fa fa-plus-square-o" aria-hidden="true"></i></td>
    <td>10/31/2016</td>
    <td></td>
    <td></td>
    <td>$999.99</td>
    <td></td>
    <td>$645.84</td>
  </tr>
</table>