@import 'utility';

input[type="text"]{
    background: #414141; 
    border: 1px solid $border-color;
    outline-color: $highlight-color;
    color: #BBBBBB;
    font-size: 16px;
}

button{
    color: #464646;
    background: #838383;
    outline-color: $highlight-color;
}