<div class="sub-section">
  <span class="chart-icon"><i class="fa fa-th" aria-hidden="true"></i></span>
  <span class="chart-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
  <span class="chart-icon"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
  <span class="chart-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
  <span class="chart-icon"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
  <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>

  <input type="text">
</div>